:root {
    --titel-text-color: #757575;
    --first-title-color: #212121;
    --logo-item-color: #2196F3;
    --logo-color: #000000;
    --first-color: #ffffff;
    --primary-text-color: #757575;
    --footer-bcg: #2F303A;
    --text-color: #F3F5F4FA;
    --transition-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
// --------заголовок H2-----------
%title-two{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    color: var(--first-title-color);
    text-align: center;
}