.work__titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    color: var(--first-title-color);
    text-align: center;
    margin-bottom: 50px;
    padding-top: 94px;
}
.work__list {
    display: flex;
    padding-left: 0;
    gap: 30px;
}

.work__item {
    position: relative;
}

.work__name {
    display: flex;
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    align-items: center;
    justify-content: center;
}

.work {
    display: flex;
    padding-bottom: 94px;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--first-color);
}